* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
  }
  
  /* Container principal com duas colunas */
  .container-perfil {
    display: flex; /* flexbox para colocar lado a lado */
    min-height: 100vh; /* ocupa altura total da tela */
  }
  
  /* MENU LATERAL */
  .menu-lateral {
    background-color: #1f2937; 
    color: white;
    width: 250px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Foto de perfil redonda */
  .foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* deixa redonda */
    margin-bottom: 15px;
  }
  
  /* Nome do usuário */
  .menu-lateral h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Lista de navegação */
  .menu-lateral ul {
    list-style: none;
    width: 100%;
  }
  
  .menu-lateral li {
    margin: 10px 0;
  }
  
  .menu-lateral a {
    color: white;
    text-decoration: none;
    display: block;
   
    border-radius: 8px;
    transition: background 0.3s;
  }
  
  .menu-lateral a:hover {
    background-color: #374151; /* cor ao passar o mouse */
  }
  
  /* CONTEÚDO PRINCIPAL */
  .conteudo-principal {
    flex: 1;
  padding: 40px;
  max-width: 800px; /* largura máxima dos blocos */
  margin: 0 auto;  
  }
  
  .conteudo-principal h1 {
    font-size: 28px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  /* conteúdo */

.bloco {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
  }

  
  /* BARRA DE PROGRESSO */
  .barra-progresso {
    background: #e5e7eb;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .progresso {
    background: #3b82f6; 
    height: 100%;
  }
  
  /* LISTAS */
  .lista-cursos,
  .lista-eventos {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .lista-cursos li,
  .lista-eventos li {
    margin-bottom: 8px;
  }
  
  /* BOTÃO */
  button {
    background-color: #10b981; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  .sidebar-perfil{
    border-radius: 20px;
    margin-left: 40px;
  }
  
  button:hover {
    background-color: #059669;
  }